@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #303030;
}

h1 {
  letter-spacing: 2px;
  text-align: center;
  color: white;
  margin-top: 3rem;
  font-size: 2.5rem;
}

.AddTodo {
  width: 50%;
  margin: auto;
  padding-top: 2rem;
  text-align: center;
}

.AddTodo input {
  height: 35px;
  font-size: 17px;
  padding-left: .5rem;
}

.AddTodo button {
  height: 35px;
  font-size: 17px;
}

.Todo {
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: #a721eb;
  border: 2px solid white;
  width: 50%;
  height: 60px;
  margin: 10px auto;
}

.Todo p {
  margin: 0 15px;
  font-size: 20px;
  background-color: #a721eb;
  color: white;
}

.Todo input {
  margin: 0 10px;
  background-color: white;
  border: none;
}

.Todo div {
  background-color: blue;
}

.Todo button {
  margin-left: auto;
  border: none;
  background-color: white;
  border-radius: 7px;
  width: 50px;
  height: 25px;
}

.Todo button:last-of-type {
  margin: 0 10px;
}

.task-input {
  margin: 1.5rem .5rem;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  height: 25px;
  width: 30%;
}

.form-btn {
  margin: .5rem 0;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  height: 25px;
  width: 10%;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  
  .AddTodo {
    width: 100%;
  }

  .AddTodo input {
    width: 70%;
    font-size: 11px;
  }

  .AddTodo button {
    width: 15%;
    font-size: 12px;
  }

  .Todo {
    width: 90%;
    margin: 15px auto;
  }

  .Todo p {
    font-size: 15px;
    width: 70%;
  }

  .Todo button {
    font-size: 10px;
  }
}